doctype html
html
	head
		meta(charset='utf-8')
		title BatchTest Report
		link(
		rel='stylesheet',
		href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css'
		)

	body
		.container
			h1 Performance Report

			hr

			p
				| This report was generated from commit
				= ' '
				code= gitInfo.commit.substr(0, 8)
				= ' '
				| on branch
				= ' '
				code= gitInfo.branch
				| .

			.alert.alert-warning.clearfix
				p.pull-left
					strong Attention:
					|  This report is a work in progress.
					| Use the button to update the tables.

				button(type='button')#updateButton.btn.btn-warning.pull-right
					| ⟳ Update

			hr

			h2 General Statistics

			table#generalStatistics.table.table-hover.table-condensed.small
				thead
					tr
						th Metric
						th Min
						th Max
						th Sum
						th Average
						th Average per 1000 Polygons
				tbody

			hr

			h2 Individual Models

			h3 Absolute values

			table#absoluteValues.table.table-striped.table-hover.table-condensed.small
				thead
					tr
						th Nr
						th Filename
						th Parsing Time
						th Errors
						th Invalid Polygons
						th Recalculated Normals
						th Cleansing Time
						th Optimization Time
						th Number of Polygons
						th Number of Points
						th 2-manifold
						th 2-manifold check Time
						th Hull Voxelization Time
						th Volume Fill Time
				tbody

			h3 Relative values

			p All metrics are per 1000 polygons.

			table#relativeValues.table.table-striped.table-hover.table-condensed.small
				thead
					tr
						th Nr
						th Filename
						th Number of Polygons
						th Parsing Time
						th Cleansing Time
						th Optimization Time
						th 2-manifold check Time
				tbody

		script(src='../../assets/index.js')
